@use "../Variables/vars" as *;
// ! add all
.MEN {
    height: 100vh;
    width: 100%;
    // margin-top:-96PX;
    background-image: url("../img/Background/all/man_extra_2.jpg");
    background-size: cover;
    background-size: cover;
    background-position: center;
    &::before {
        content: "";
        position: absolute;
        // top: 0;
        // left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #3f4045, $alpha: 0.3);
        filter: blur(5px);
    }
}
hr {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    color: #3f4045;
    opacity: 0.4;
}
.section_search {
    width: fit-content;
    background-color: #ffffff;
    margin: auto;
    margin-top: 40px;
    form {
        background-color: #ffffff;
        width: 350px;
        .search-container {
            display: flex;
            align-items: center;
            border: 0.5px solid rgba(#3f4045, 0.5);
            border-radius: 15px;
            background-color: white;
            padding: 0px 5px;
            width: 100%;
        }
    }
    .sugg_container {
        width: 360px;
        box-shadow: 0px 10px 15px rgba(63, 64, 69, 0.4);
        position: absolute;
        z-index: 2;
        background-color: #ffffff;
        .list {
            list-style: none;
            border: 0.5px solid rgba(63, 64, 69, 0.5);
            .list_item {
                padding: 10px 10px;
                font-size: 20px;
                border-bottom: 0.5px solid rgba(63, 64, 69, 0.5);
                cursor: pointer;
            }
        }
    }
    #search {
        background-color: white;
        font-size: 20px;
        border: none;
        outline: none;
        width: 90%;
        padding: 10px;
        border-radius: 15px;
    }
    button {
        background-color: transparent;
        border: none;
        border-left: solid;
        border-left-width: 0.5px;
        border-left-color: rgba(#3f4045, 0.5);
        padding: 10px 15px;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        img {
            width: 20px;
            height: 20px;
        }
    }
    .fa-search {
        font-size: 20px;
    }
}
.man_product {
    font-family: "Karantina", cursive;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    .not_found {
        display: flex;
        height: fit-content;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        width: 70%;
        margin: auto;
        gap: 50px;
        border-radius: 25px;
        box-shadow: 0px 0px 22px 5px rgba(#3f4045, 0.25);
        .image {
            width: 200px;
            img {
                border-radius: 25px;
                width: 100%;
                height: 100%;
            }
        }
        .text {
            flex-basis: 60%;
            text-align: center;
            padding-bottom: 30px;
            h1 {
                color: #bf623b;
                font-size: 60px;
            }
        }
    }
    .title {
        margin-left: 15px;
        font-size: $top_rated_header_size;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .sub_category_links {
            position: relative;
            margin-right: 50px;
            .dropbtn {
                width: 100px;
                height: 75px;
                font-size: 25px;
                color: #3f4045;
                background-color: transparent;
                border: none;
                background-image: url("../../img/Blob/jacket.svg");
                background-position: center;
                background-size: cover;
                transition-duration: 0.5s;
                &:hover {
                    background-image: url("../../img/Blob/jacket hover.svg");
                    background-position: center;
                    background-size: cover;
                    color: #e9e8de;
                    text-shadow: 2px 2px 4px #e9e8de;
                }
            }
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #e9e8de;
                min-width: 100px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
                border-radius: 12px;
                a {
                    font-size: 20px;
                    display: block;
                    width: 50%;
                    text-align: center;
                    margin: auto;
                    padding: 10px;
                    color: #3f4045;
                    text-decoration: none;
                    text-transform: uppercase;
                    border-bottom: 1px solid;
                    border-bottom-color: rgba($color: #3f4045, $alpha: 0.5);
                    &:last-child {
                        border-bottom: none;
                        border-bottom-color: none;
                    }
                    &:hover {
                        text-shadow: 2px 2px 4px #3f4045;
                    }
                }
            }
            &:hover {
                .dropdown-content {
                    display: block;
                }
            }
        }
    }

    .first_product {
        display: flex;
        margin-top: 50px;
        margin-bottom: 100px;
        flex-direction: column;
        a {
            width: fit-content;
            height: fit-content;
            text-decoration: none;
            color: #3f4045;
            margin: auto;
            .inner_bg {
                margin: auto;
                width: $product_container_inner_width;
                height: $product_container_inner_height;
                background-image: url("../img/Blob/first_pro_bg.svg");
                .rate_number {
                    direction: rtl;
                    p {
                        font-size: $rate_number_size;
                        display: inline-block;
                    }
                    img {
                        width: $rate_img_size_wh;
                        height: $rate_img_size_wh;
                    }
                }
                .pro_img {
                    width: $product_img_width;
                    height: $product_img_height;
                    margin: auto;
                    img {
                        width: 100%;
                        height: 100%;
                        filter: drop-shadow(10px 10px 8px #3f4045);
                    }
                }
                .pro_name {
                    text-align: center;
                    display: flex;
                    justify-content: space-around;
                    align-items: baseline;
                    h1 {
                        font-size: 40px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    form {
                        button {
                            width: 20px;
                            height: 20px;
                            background-color: transparent;
                            border: none;
                            cursor: pointer;
                            transition: 0.5s;
                            &:hover {
                                width: 25px;
                                height: 25px;
                            }
                            &:focus {
                                width: 25px;
                                height: 25px;
                            }
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
                .price_stock {
                    display: flex;
                    justify-content: space-around;
                    margin-top: 10px;

                    .price {
                        color: rgba($color: #bf623b, $alpha: 0.7);
                        font-size: 20px;
                        p {
                            text-decoration: line-through;
                        }
                    }
                    .in_stock {
                        font-size: 20px;
                        color: #548686;
                        text-transform: uppercase;
                    }
                    .out_of_stock {
                        font-size: 20px;
                        color: #bf623b;
                        text-transform: uppercase;
                    }
                    .price_disc {
                        color: rgba($color: #548686, $alpha: 0.7);
                        font-size: 20px;
                    }
                }
            }
        }

        // added
        .color-content {
            margin-top: 5.2rem;
            margin-left: 130px;
        }
        .color {
            width: 35px;
            height: 35px;
            margin-right: 20px;
            cursor: pointer;
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
        }
        .color:hover {
            width: 40px;
            height: 40px;
            svg {
                width: 40px;
                height: 40px;
            }
        }
        .active-color {
            width: 40px;
            height: 40px;
            svg {
                width: 40px;
                height: 40px;
            }
        }
        .color-groups {
            padding: 1rem 0;
            display: flex;
        }
        // added

        // addded
        .price_stock {
            display: flex;
            justify-content: space-around;
            margin-top: 10px;

            .price {
                color: rgba($color: #bf623b, $alpha: 0.7);
                font-size: 20px;
                p {
                    text-decoration: line-through;
                }
            }
            .in_stock {
                font-size: 20px;
                color: #548686;
                text-transform: uppercase;
            }
            .out_of_stock {
                font-size: 20px;
                color: #bf623b;
                text-transform: uppercase;
            }
            .price_disc {
                color: rgba($color: #548686, $alpha: 0.7);
                font-size: 20px;
            }
        }
    }
}
.some_hints {
    padding: 15px;
    margin-top: 50px;
    h1 {
        font-size: 70px;
        margin-bottom: 20px;
    }
    p {
        // font-family: 'Karantina', cursive;
        font-size: 15px;
        font-weight: 900;
        color: #3f4045;
        margin-bottom: 20px;
    }
}
.error {
    position: fixed;
    top: 28%;
    left: 0;
    right: 0;
    bottom: 29%;
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 70%;
    margin: auto;
    gap: 50px;
    border-radius: 25px;
    box-shadow: 0px 0px 22px 5px rgba(#3f4045, 0.25);
    .image {
        width: 200px;
        img {
            border-radius: 25px;
            width: 100%;
            height: 100%;
        }
    }
    .text {
        flex-basis: 60%;
        text-align: center;
        padding-bottom: 30px;
        h1 {
            color: #bf623b;
            font-size: 60px;
        }
    }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
    .man_product {
        flex-wrap: wrap;
        flex-direction: row !important;
        .not_found {
            flex-direction: row;
            .image {
                width: 300px;
            }
            .text {
                flex-basis: 60%;
                text-align: left;
                padding: 20px 5px;
            }
        }
        .first_product {
            flex-basis: 50%;
        }
        .title {
            flex-direction: row;
            flex-basis: 100%;
            .sub_category_links {
                gap: 25px;
                .Jackets {
                    margin-right: 0px;
                }
                .Pants {
                    margin-right: 0px;
                }
                .Shirts {
                    margin-right: 0px;
                }
                .Shorts {
                    margin-top: 0px;
                }
            }
        }
    }
    .error {
        flex-direction: row;
        .image {
            width: 300px;
        }
        .text {
            flex-basis: 60%;
            text-align: left;
            padding: 20px 5px;
        }
    }
    .section_search {
        width: fit-content;
        background-color: #ffffff;
        // margin: auto;
        margin-right: 50px;
        margin-top: 40px;
        form {
            background-color: #ffffff;
            width: 450px;
        }
        .sugg_container{
            width: 460px;
        }
    }
}

@media screen and (min-width: 1025px) and (max-width: 2000px) {
    .man_product {
        flex-wrap: wrap;
        flex-direction: row !important;
        .not_found {
            flex-direction: row;
            .image {
                width: 300px;
            }
            .text {
                flex-basis: 60%;
                text-align: left;
                padding: 20px 5px;
            }
        }
        .first_product {
            flex-basis: 50%;
        }
        .title {
            flex-basis: 100%;
            flex-direction: row;
            .sub_category_links {
                gap: 25px;
                .Jackets {
                    margin-right: 0px;
                }
                .Pants {
                    margin-right: 0px;
                }
                .Shirts {
                    margin-right: 0px;
                }
                .Shorts {
                    margin-top: 0px;
                }
            }
        }
    }
    .error {
        flex-direction: row;
        .image {
            width: 300px;
        }
        .text {
            flex-basis: 60%;
            text-align: left;
            padding: 20px 5px;
        }
    }
    .section_search {
        width: fit-content;
        background-color: #ffffff;
        margin-right: 50px;
        margin-top: 40px;
        form {
            background-color: #ffffff;
            width: 450px;
        }
        .sugg_container{
            width: 460px;
        }
    }
}

@media screen and (min-width: 768px) {
    .man_product {
        flex-wrap: wrap;
        flex-direction: row !important;
        .first_product {
            flex-basis: 50%;
        }
    }
}

@media screen and (min-width: 1024px) {
    .man_product {
        .first_product {
            flex-basis: 30%;
            margin-left: 20px;
        }
    }
}
