.WOMAN{
        height: 100vh;
        width: 100%;
        // margin-top:-96PX;
        background-image: url('../img/Background/all/woman products1.jpg');
        background-size: cover;
        background-size: cover;
        background-position: center;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #3F4045, $alpha: 0.3);
            filter: blur(5px);
        }
}

.MACKUP{
    height: 100vh;
    width: 100%;
    // margin-top:-96PX;
    background-image: url('../../img/Background/all/make up.jpg');
    background-size: cover;
    background-size: cover;
    background-position: center;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #3F4045, $alpha: 0.3);
        filter: blur(5px);
    }
}

.MEN_Jackets{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/1.svg');
    background-size: cover;
    background-position: center;
}

.MEN_Pants{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/2.svg');
    background-size: cover;
    background-position: center;
}

.MEN_Shirts{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/3.svg');
    background-size: cover;
    background-position: center;
}

.MEN_Shorts{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/4.svg');
    background-size: cover;
    background-position: center;
}

.WOMAN_Jackets{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/5.svg');
    background-size: cover;
    background-position: center;
}

.WOMAN_Pants{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/6.svg');
    background-size: cover;
    background-position: center;
}

.WOMAN_Shirts{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/7.svg');
    background-size: cover;
    background-position: center;
}

.WOMAN_Shorts{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/8.svg');
    background-size: cover;
    background-position: center;
}

.WOMAN_Dressess{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/32.svg');
    background-size: cover;
    background-position: center;
}

.KIDS_Jackets{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/9.svg');
    background-size: cover;
    background-position: center;
}

.KIDS_Pants{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/10.svg');
    background-size: cover;
    background-position: center;
}

.KIDS_Shirts{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/11.svg');
    background-size: cover;
    background-position: center;
}

.KIDS_Shorts{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/12.svg');
    background-size: cover;
    background-position: center;
}

.ACCESSORIES_Man_Hats{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/33.svg');
    background-size: cover;
    background-position: center;
}

.ACCESSORIES_Man_Sunglasses{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/34.svg');
    background-size: cover;
    background-position: center;
}

.ACCESSORIES_Man_Wallet{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/35.svg');
    background-size: cover;
    background-position: center;
}

.ACCESSORIES_Man_Watch{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/36.svg');
    background-size: cover;
    background-position: center;
}

.ACCESSORIES_Woman_Sunglasses{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/37.svg');
    background-size: cover;
    background-position: center;
}

.ACCESSORIES_Woman_Scarves{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/38.svg');
    background-size: cover;
    background-position: center;
}

.ACCESSORIES_Woman_Hats{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/39.svg');
    background-size: cover;
    background-position: center;
}

.ACCESSORIES_Woman_Travel_Accesories{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/40.svg');
    background-size: cover;
    background-position: center;
}

.ACCESSORIES_Earrings{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/41.svg');
    background-size: cover;
    background-position: center;
}

.ACCESSORIES_Rings{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/42.svg');
    background-size: cover;
    background-position: center;
}

.ACCESSORIES_Necklace{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/43.svg');
    background-size: cover;
    background-position: center;
}

.BAGS_Man{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/44.svg');
    background-size: cover;
    background-position: center; 
}

.BAGS_Travel_Bags{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/45.svg');
    background-size: cover;
    background-position: center; 
}

.BAGS_Hand_Bags{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/31.svg');
    background-size: cover;
    background-position: center; 
}

.BAGS_Clutch_Bags{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/46.svg');
    background-size: cover;
    background-position: center; 
}

.BAGS_Beach_Bags{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/47.svg');
    background-size: cover;
    background-position: center; 
}

.BAGS_Backpack_Bags{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/48.svg');
    background-size: cover;
    background-position: center; 
}

.MACKUP_Foundation{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/49.svg');
    background-size: cover;
    background-position: center; 
}

.MACKUP_Eyeliner{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/50.svg');
    background-size: cover;
    background-position: center; 
}

.MACKUP_Eyeshadow{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/51.svg');
    background-size: cover;
    background-position: center; 
}

.MACKUP_BB_CC_Cream{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/52.svg');
    background-size: cover;
    background-position: center; 
}

.MACKUP_Face_Primer{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/53.svg');
    background-size: cover;
    background-position: center; 
}

.MACKUP_Mascara{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/54.svg');
    background-size: cover;
    background-position: center; 
}

.MACKUP_LipGloss{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/55.svg');
    background-size: cover;
    background-position: center; 
}

.MACKUP_Lipstick{
    height: 37vh;
    width: 100%;
    background-image: url('../../img/Background/all/56.svg');
    background-size: cover;
    background-position: center; 
}
