.reg_form{
    .gif_video_login{
        display: none;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .reg_form{
        .gif_video_login{
            margin-top: 50px;
            display: inline-block;
            width: 60%;
            height: 55vh;
            align-self: center;
            position: relative;
            background-image: url("../../img/illast/log.gif");
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: 50px;
        }
    }
}

@media screen and (min-width: 1201px) and (max-width: 1300px) {
    .reg_form{
        .gif_video_login{
            display: inline-block;
            width: 76%;
            height: 68vh;
            align-self: center;
            position: relative;
            background-image: url("../../img/illast/log.gif");
            background-size: cover  ;
            background-repeat: no-repeat;
            margin-left: 50px;
        }
    }
}

@media screen and (min-width: 1301px) and (max-width: 1500px) {
    .reg_form{
        .gif_video_login{
            display: inline-block;
            width: 76%;
            height: 75vh;
            align-self: center;
            position: relative;
            background-image: url("../../img/illast/log.gif");
            background-size: cover  ;
            background-repeat: no-repeat;
            margin-left: 50px;
        }
    }
}

@media screen and (min-width: 1501px) and (max-width: 2000px) {
    .reg_form{
        .gif_video_login{
            display: inline-block;
            width: 80%;
            height: 88vh;
            max-height: 97vh;
            align-self: center;
            position: relative;
            background-image: url("../../img/illast/log.gif");
            background-size: cover  ;
            background-repeat: no-repeat;
            margin-left: 50px;
        }
    }
}