$top_rated_header_size:60px;
$top_rated_header_color:#000000;
$product_container_width:340px;
$product_container_height:417px;
$product_container_inner_height:313px;
$product_container_inner_width:272px;
$product_name_size:60px;
$product_name_color:#000000;
$product_img_width:248px;
$product_img_height:300px;
$rate_number_size:40px; //35*40
$rate_img_size_wh:33px;
$footer_header_size:40px;
$footer_links_size:30px;
$ft_footer_links_container_size_wh:254px;
$s_footer_links_container_size_wh:348px;
$footer_email_phone_size:20px;
$footer_social_size_wh:30px;
$footer_end_head_size:30px;
$footer_end_text_size:15px;
$footer_end_names_size:16px;
$footer_uuxn:30px;
$letter_spaceing:2px;


