@use '../Variables/vars' as *;

.best_rated{
    font-family: 'Karantina', cursive;
    display: flex;
    flex-direction: column;
    .title{
        margin-top: 30px;
        margin-left: 15px;
        font-size: $top_rated_header_size;
        margin-bottom: 20px;
    }

    .first_product{
        display: flex;
        margin-top: 50px;
        margin-bottom: 100px;
        a{
            width: fit-content;
            height: fit-content;
            text-decoration: none;
            color: #3F4045;
            margin: auto;
            .inner_bg{
                margin: auto;
                width: $product_container_inner_width;
                height: $product_container_inner_height;
                background-image: url("../img/Blob/first_pro_bg.svg");
                .rate_number{
                    direction: rtl;
                    p{
                        font-size: $rate_number_size;
                        display: inline-block;
                    }
                    img{
                        width: $rate_img_size_wh;
                        height: $rate_img_size_wh;
                    }
                }
                .pro_img{
                    width: $product_img_width;
                    height: $product_img_height;
                    margin: auto;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .pro_name{
                    text-align: center;
                    h1{
                        font-size: $product_name_size;
                        overflow: hidden;
                        white-space: wrap;
                        text-overflow: ellipsis;
                        max-width: 250px;
                    }
                }
                .price_stock{
                    display: flex;
                    justify-content: space-around;
                    margin-top: 10px;
        
                    .price{
                        color:rgba($color: #BF623B, $alpha: 0.7);
                        font-size: 20px;
                        p{
                            text-decoration: line-through;
                        }
                    }
                    .in_stock{
                        font-size: 20px;
                        color: #548686; 
                        text-transform: uppercase;
                    }
                    .out_of_stock{
                        font-size: 20px;
                        color: #BF623B; 
                        text-transform: uppercase;
                    }
                    .price_disc{
                            color:rgba($color: #548686, $alpha: 0.7);
                            font-size: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .best_rated{
        flex-wrap: wrap;
        flex-direction: row !important;
        .title{
            flex-basis: 100%;
        }
        .first_product{
            flex-basis: 50%;
        }
    }
}

@media screen and (min-width: 1024px) {
    .best_rated{
        .title{
            flex-basis: 100%;
        }
        .first_product{
            flex-basis: 30%;
            margin-left: 20px;
        }

    }
}

@media screen and (min-width: 1500px) {
    .best_rated{
        .title{
            flex-basis: 100%;
        }
        .first_product{
            flex-basis: 30%;
            margin-left: 35px;
        }
    }
}